<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.program24">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="MyReceiver" >
            <intent-filter>
                <action android:name="com.example.custom_broadcast_intent.MyReceiver" >
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".MyReceiver1" >
            <intent-filter android:priority="1" >
                <action android:name="com.example.ordered_broadcast.OrderedBroadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyReceiver2" >
            <intent-filter android:priority="2" >
                <action android:name="com.example.ordered_broadcast.OrderedBroadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>